/*Have the setting take up the whole page*/
html, body {
    margin: 0px;
    height: 100%;
}

#setting {
    background-image: url(city.png);
    background-size: 100% 100%;
    margin: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#score {
    position: absolute;
    z-index: 1000;
    left: 50%;
    top: 5%;
    transform: translate(-50%, 0%);
}

h1 {
    font-family: 'Roboto Mono', 'Georgia', serif;
}

.sprite {
    background-image: url("sprites.png");
	width: 383px;
	height: 218px;
}

#lisa {
    position: absolute;
    top: 0px;
    left: 1000px;
    width: 114px;
    height: 58px;
    background-position: left -157px top 0px;
}

#spider {
    position: absolute;
    top: 0px;
    left: 500px;
    width: 112px;
    height: 72px;
    background-position: right 0px top 0px;
}

#hoodle {
    position: absolute;
    top: 0px;
    left: 50px;
    width: 94px;
    height: 106px;
    background-position: bottom 200px right -143px;
}

#gwinkie {
    position: absolute;
    width: 84px;
    height: 94px;
    background-position: top 0px left -73px;
}

.control {
    width: 73px;
    height: 73px;
}

#right {
    background-position: top -94px left -73px;
}

#left {
    background-position: top 73px left 0px;
}

#down {
    background-position: top -73px left 0px;
}

#up {
    background-position: top 0px left 0px;
}

#controls {
    position: absolute;
    left: 0;
    bottom: 0;
}
